/*
!/.gitignore

!/administrator
/administrator
!/administrator/components
/administrator/components
!/administrator/components/com_alarmhistory
!/administrator/components/com_polarbook
!/administrator/components/com_polartour

!/components
/components
!/components/com_alarmhistory
!/components/com_polarbook
!/components/com_polartour

!/media
/media
!/media/com_alarmistory
!/media/com_polarbook
!/media/polarchess
!/media/polarstrap

!/modules
/modules
!/modules/mod_polarmenu

!/plugins
/plugins
!/plugins/content
/plugins/content
!/plugins/content/polarchess
!/plugins/system
/plugins/system
!/plugins/system/polarstrap

!/templates
/templates
!/templates/polartemplate
!/templates/vadsosjakk
/templates/vadsosjakk/css
!/templates/vadsosjakk/css/index.html