/*
!/.gitignore

!/administrator
/administrator
!/administrator/components
/administrator/components
!/administrator/components/com_alarmhistory
!/administrator/components/com_polarbook

!/components
/components
!/components/com_alarmhistory
!/components/com_polarbook

!/media
/media
!/media/com_alarmistory
!/media/com_polarbook
!/media/polarstrap

!/modules
/modules
!/modules/mod_polarmenu

!/plugins
/plugins
!/plugins/system
/plugins/system
!/plugina/system/polarstrap

!/templates
/templates
!/templates/polartemplate
!/templates/vadsosjakk_01

