/.git
/.settings
/.buildpath
/.htaccess
/.project
/configuration.php
/bin
/htaccess.txt
/index.php
/LICENSE.txt
/README.txt
/robots.txt
/robots.txt.dist
/web.config.txt
/cache
/cli
/images
/includes
/language
/layouts
/libraries
/logs
/tmp
