.ALARM-HIGH,
.ALARM-HIGH-NFE,
.ALARM-HIGH-RTU {
	color : #CC0000;
}

.ALARM-LOW,
.ALARM-MEDIUM-NFE,
.ALARM-MEDIUM-RTU,
.EVENT-MEDIUM-RTU,
.ALARM-MEDIUM-NCS {
	color : #ff5555;
}

.EVENT-LOW-NFE,
.EVENT-LOW-RTU {
	color : #0000ff;
}

.OPERATOR-LOW,
.ALARM-LOW-NCS,
.EVENT-LOW,
.EVENT-LOW-NCS {
	color : #009900;
}



.alarm_medium {color:#f55;}
.alarm_high {color:#c00;}
.event_low {color:#00f;}
.event_low_ncs {color:#090;}
.operator_low {color:#090;}
.operator_alarm {color:#550;}

