<!DOCTYPE html>
<html lang="en">
	<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Test template</title>
	<link href="css/template.css" rel="stylesheet">
	<script src="../../media/jui/js/jquery.min.js"></script>
	<script src="../../media/jui/js/bootstrap.min.js"></script>
	<script src="../../media/jui/js/jquery-noconflict.js"></script>
<!-- 	<script src="js/jquery-ui.min.js"></script>
 -->
 	<!--[if lt IE 9]>
		<script src="../../media/jui/js/html5.js"></script>
	<![endif]-->
</head>
<body>
<div class="container">
<div class="row">
	<div class="navbar navbar-inverse">
		<div class="navbar-inner">
			<div class="container">
				<ul class="nav">
					<li><a class="brand" href="#">Project name</a></li>
					<li class="active"><a href="#">Menu 1</a></li>
					<li class="dropdown">
						<a href="#" class="droppdown-toggle" data-toggle="dropdown">Menu 2 <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="#">Menu 2.1</a></li>
							<li><a href="#">Menu 2.2</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
</div>
</body>
</html>